{% extends 'layout.html.twig' %}

{% block title %}Přidat událost{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {% include 'event/_eventForm.html.twig' with {
        'form': form
    } only %}
    <button class="btn btn-primary" type="submit">Přidat událost</button>
    {{ form_end(form) }}
{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/event.js') }}" defer></script>
{% endblock %}
