{% extends 'layout.html.twig' %}

{% block title %}Úprava události{% endblock %}

{% block content %}
    <h1 class="mb-3 text-center">Úprava události</h1>
    {{ form_start(form) }}
    {% include 'event/_eventForm.html.twig' with {
        'form': form
    } only %}
    <div class="d-grid d-md-block">
        <button class="btn btn-primary" type="submit">Upravit událost</button>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/event.js') }}" defer></script>
{% endblock %}
