{% extends 'layout.html.twig' %}

{% block title %}Nastavení{% endblock %}

{% block content %}
    <h1 class="mb-3">Nastavení</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary" type="submit">Uložit změny</button>
    {{ form_end(form) }}
{% endblock %}
