body {
    font-family: 'Poppins', sans-serif;
}

header {
    margin-bottom: 2rem;
}

main {
    max-width: 1400px;
    width: 90vw;
    margin: 0 auto;
}

.no-events {
    font-size: 1.3rem;
    text-align: center;
    margin: 2rem;
}

/* Tables */
.table-danger {
    --bs-table-bg: #ff4010;
    --bs-table-striped-bg: #ff4010;
}

table td ul {
    list-style-type: none;
    padding: 0.2rem 0.5rem;
    margin-bottom: 0.2rem;
}

table td ul span.title {
    display: inline-block;
    min-width: 110px;
}

table td.date {
    min-width: 125px;
}

.nearDeadline {
    color: #ff4010;
}
/* End - Tables */

/* Pagination */
.navigation ul {
    justify-content: center !important;
}

@media screen and (max-width: 425px) {
    .navigation ul {
        font-size: small;
    }
}
/* End - Pagination */

/* Other */
.mt-0 {
    margin-right: 0.5rem;
}
/* End - Other */
