{% extends 'layout.html.twig' %}

{% block title %}Úprava oznámení{% endblock %}

{% block content %}
    <div class="max-width-800">
        <h1 class="mb-3 text-center">Úprava oznámení</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="d-grid d-md-block">
            <button class="btn btn-primary" type="submit">Upravit oznámení</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
