{% extends 'layout.html.twig' %}

{% block title %}Přehled{% endblock %}

{% block content %}
    {% if races is empty and trainings is empty %}
        <p class="no-events">V&nbsp;systému není evidovaný žádný závod ani&nbsp;trénink s&nbsp;nadcházejícím datem uzávěrky přihlášek</p>
    {% else %}
        {% if races is empty %}
            <p class="no-events">V&nbsp;systému není evidovaný žádný závod s&nbsp;nadcházejícím datem uzávěrky přihlášek</p>
        {% else %}
            <h2 class="mb-3">Závody s&nbsp;nejbližší uzávěrkou přihlášek</h2>
            {% include 'event/_table.html.twig' with {
                'events': races
            } only %}
            <div class="text-end">
                <a href="{{ path('list_races') }}" class="btn btn-primary">Zobrazit více závodů</a>
            </div>
        {% endif %}
        {% if trainings is empty %}
            <p class="no-events">V&nbsp;systému není evidovaný žádný trénink s&nbsp;nadcházejícím datem uzávěrky přihlášek</p>
        {% else %}
            <h2 class="mb-3">Tréninky s&nbsp;nejbližší uzávěrkou přihlášek</h2>
            {% include 'event/_table.html.twig' with {
                'events': trainings
            } only %}
            <div class="text-end">
                <a href="{{ path('list_trainings') }}" class="btn btn-primary">Zobrazit více tréninků</a>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/table.js') }}" defer></script>
{% endblock %}
